* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    text-align: center;
    font-size: 4vw;
    margin-top: 3vh;
}

#content {
    width: 100%;
}